<table id="table-display">
  <tr appInfiniteScroller>
    <th *ngFor="let header of headerFlds">{{header}}</th>
  </tr>
  <ng-container *ngFor="let dataItem of data">
    <tr>
        <td *ngFor="let bodyMap of bodyDataMap">{{ dataItem[bodyMap.toLowerCase()] }}</td>
    </tr>
    </ng-container>
</table>
