.main-container {
    .results-container {
        max-height: 400px;
        height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .input-container {
        padding-bottom: 20px;
    }
}
