/* You can add global styles to this file, and also import other style files */
*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}